body {
  background-color: #212957;
}

main {
  background-color: #212957;
}

h1 {
  color: #B8E0FF;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}

h2 {
  color: #B8E0FF;
  font-family: monospace;
  font-size: 24px;
  text-align: center;
}

h3 {
  color: #B8E0FF;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

h4 {
    color: #B8E0FF;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}

div {
    color: #B8E0FF;
    font-family: monospace;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 200px;
    padding-left: 200px;
}

button {
  background-color: #B8E0FF;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  font-size: 20px;
  text-align:center;
  color: #212957;
}
